* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-image: url("/assets/img/fondo_tienda.jpg");
    background-position: center;
    background-size: cover;
    

    .box {
        width: 26.875rem;
        
        margin: auto;
        padding: 1.25rem;
        backdrop-filter: blur(20px);
        border-radius: 15px;
        border:1px solid rgba(255, 255, 255, 0.2);
        h1 {
            font-size: 2.1875rem;
            font-weight: bold;
            letter-spacing: .0625rem;
            text-align: center;
            color: white;
            padding: .9375rem;
        }
        p {
            font-size: 1.125rem;
            font-weight: 600;
            text-align: center;
            color: white;
            padding: .9375rem;
        }


    }
}